.card {
    max-width: 300px;
    background-color: white;
    margin: 6px;
    border: 1px solid #ddd;
    border-radius: 2px;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 $shadow, 0 6px 16px 0 $shadow;

    img {
        width: 100%;
        height: auto;
    }
}



.card-footer {
  height: auto;
  width: 100%;
  padding: 10px;
  background-color: white;

  img {
    display: inline;
    max-width: 20px;
  }

  p { display: inline; }

  .description {
    display: block;
    margin: 6px 0;
  }

  .username {
    font-family: "Open Sans";
    font-size: 0.75em;
    font-weight: 500;
  }
}

.card:hover {
  transform: scale(1.04);
  z-index: 2;
  transition: all 0.5s ease;
}
